<header>
    <nav>
        <ul>
            <a href="{{linkGithub}}" target="_blank">
                <li>
                    <i class="fa-brands fa-github"></i>
                    <span>GitHub</span>
                </li>
            </a>

            <li>
                <span style="font-weight: 1000;">|</span>
            </li>
            
            <a href="{{linkLinkedin}}" target="_blank">
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                    <span>Linkedin</span>
                </li>
            </a>

            <li>
                <span style="font-weight: 1000;">|</span>
            </li>
            
            <a href="#sobre">
                <li>
                    <i class="fa-solid fa-circle-info"></i>
                    <span>Sobre</span>
                </li>
            </a>  
        </ul>
    </nav>
</header>
