<div class="container">
    <form>
      <div class="container_inputs">
        <div class="label_div">
          <label>Id</label>
          <input type="text" name="id" disabled [(ngModel)]="id">
        </div>
        
        <div class="label_div">
          <label>Nome</label>
          <input type="text" name="nome" [(ngModel)]="nome">
        </div>
        
        <div class="label_div">
          <label>Descrição</label>
          <input type="text" name="descricao" [(ngModel)]="descricao">
        </div>
  
        <div class="label_div">
          <label>Valor</label>
          <input type="number" name="valor" [(ngModel)]="valor">
        </div>
      </div>

      <div class="btn_div">
        <button id="criar_btn" (click)="btnCadastrarExtrato()">
          {{id ? 'Salvar' : 'Criar'}}
        </button>
        <button id="cancelar_btn" (click)="btnCancelar()">X</button>
      </div>
    </form>
    
    <table>
      <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Opção</th>
      </thead>
    
      <tbody>
        <tr *ngFor="let extrato of extratos$ | async">
          <td>{{extrato.id}}</td>
          <td>{{extrato.nome}}</td>
          <td>{{extrato.descricao}}</td>
          <td>{{extrato.valor}}</td>
          <td>
            <i class="fa-solid fa-pen-to-square" (click)="preencherCampos(extrato); mostrarBotaoCancelar()"></i>
            <i class="fa-solid fa-trash" (click)="remover(extrato.id!)"></i>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="somatorio">
      <span>Total:</span>
      <span>R${{somaTotal}}</span>
    </div>
</div>
